header {
	display:flex;
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
	align-items: center;
}

header .logo {
	display: flex;
    background: url("../images/logo.png") no-repeat;
    margin-left: 20px;
	width: 142px;
	height: 60px;
}
